body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #f2f5f9;
    color: #222;
}
.container {
    max-width: 850px;
    margin: auto;
    background: #fff;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}
.name {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 0;
}
.title {
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;
    color: #555;
}
.contact {
    margin-top: 10px;
    color: #666;
    font-size: 15px;
}
a {
    color: #0057d8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h3 {
    font-size: 20px;
    margin-top: 35px;
    color: #004a9f;
}
h4 {
    margin-bottom: 0;
}
.date {
    margin-top: 2px;
    margin-bottom: 5px;
    font-style: italic;
    color: #555;
}
ul {
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 20px;
}
section {
    margin-bottom: 10px;
}
